<!--
<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>Dialog Select OK or Cancel</h2>
            Click on OK or Cancel
        </div>
        <form class="dialog-body"></form>
        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto">Cancel</button>
            <span class="mr-center">
                Price: <span class="price">Rs.100</span>
            </span>
            <button class="btn btn-success ml-auto">Ok</button>
        </div>
    </div>
</div>
-->

<div class="modal-dialog-centered">
    <div class="modal-header">Header</div>
    <div class="modal-body">Body</div>
</div>

@code {

    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
}
