@page "/DialogTest"
@inject IModalService Modal
@using IMS.Shared

<h3>Dialog Test</h3>
<button @onclick="@(() => Modal.Show<DialogOk_Cancel>("My Movies"))" class="btn btn-primary">View Movies</button>
<button @onclick="ShowModal" class="btn btn-primary">Show Modal</button>


@code {
    bool showDialog;
    public void ShowModal()
    {
        Modal.Show<DialogOk_Cancel>("Welcome!");
    }

}
