@page "/"

<h2>IMS Blazor App</h2>
<h3>by Amjad Khan</h3>
<p>
    Simple Blazor app that uses standard Boostrap framework as well as demonstrates use
    of simple form elements, form validation, saving and retrieving from MySql database
    using Web APIs. All built in Blazor!
</p>

