@page "/openquote"
@using IMS.Shared.Models
@inject HttpClient Http
@inject IMS.Client.Shared.QuoteState QuoteState
@inject NavigationManager nm

    
        <h1>Quote List</h1>



        @if (quotes == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Quote ID</th>
                        <th>Title Code</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var quote in quotes)
                    {
                        <tr>
                            <td>@quote.ID</td>
                            <td>@quote.TitleCode</td>
                            <td><button class="btn btn-secondary" @onclick="@(()=>Openquote(quote))">Open</button></td>

                        </tr>
                    }
                </tbody>
            </table>
        }
    

@code {
    private Quote[] quotes;

    protected override async Task OnInitializedAsync()
    {
        quotes = await Http.GetFromJsonAsync<Quote[]>("/api/IMS/quotes");
    }
    public void Openquote(Quote quote)
    {
        QuoteState.QuoteId = quote.ID;
        nm.NavigateTo("openingscript/"+quote.ID.ToString());
    }

}
